body{
  max-width: 100%;
  height: fit-content;
}

img{
  height: 50px;
}
.navbar{
  display: flex;
  z-index: 1;
}
.text-center{
    margin: 2px;
    padding: 2px;
    font-size: 20px;
    color: #0e0d0d;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
}
.col{
  padding: 5px;
}

